body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 50px;
}

h1 {
    text-align: center;
    font-weight: 200;
    font-size: 40px;
    margin-bottom: 20px;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
form {
    width: 100%;
    margin: 0 auto 30px auto;
}

select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

#row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.col {
    width: 450px;
}

.item img {
    width: 100%;
    aspect-ratio: 4/3;
}
